<div class="office-index-container">
    <h3>Here are the available offices:</h3>

    <% @offices.each do |office| %>
    <ul>
        <li><%= office.state %></li>
    </ul>
    <% end %>


    <label>The three offices with the most patients are:</label>
    <br>
    <ol>
        <% Office.most_frequented_office.each do |office| %>
            <br>
            <li><%= office.state %><br></li>
        <% end %>
    </ol>
</div>