<div class="select-container">
    <h3>Which state are you in?</h3>
    <%= form_for :office do |f| %>
        <%= f.collection_select  :state, Office.alpha, :state, :state %>
        <br></br>
        <%= f.submit "Submit" %>
    <% end %>
    <br>
    <% if flash[:unauthorized] %>
        <%= flash[:unauthorized] %>
    <% end %>

</div>

