<h2>These are your patients in this city</h2>
<% @patients.each do |patient| %>
<ul>
   <br><li><%= link_to patient.name, patient_path(patient) %></li></br>
</ul>
<% end %>

<%= link_to "Add Patient", new_office_patient_path(@patients.map{|p|p.office_id}.uniq) %>
