@import "bootstrap-sprockets";
@import "bootstrap";

.session-index-container {
    padding-left: 150px;
}

.session-new-container {
    padding-left: 150px;
}

.user-show-container {
    padding-left: 150px;
}

.user-new-container {
    padding-left: 150px;
}

.office-index-container {
    padding-left: 150px;
}

.select-container {
    padding-left: 150px;
}

.office-show-container {
    padding-left: 150px;
}

.patients-index-container {
    padding-left: 150px;
}

.patients-show-container {
    padding-left: 150px;
}

.patients-new-container {
    padding-left: 150px;
}

.patients-edit-container {
    padding-left: 150px;
}

.exercise-index-title-container {
    padding-left: 150px;
}

.exercise-iteration-containter{
    padding-left: 150px;
}

.exercise-show-container{
    padding-left: 150px;
}